<!DOCTYPE html>
<html>
<head>
    <title>Create New TODO</title>
</head>
<body>
    <h1>Create New TODO</h1>
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br><br>
        <input type="submit" value="Create">
    </form>
    <p><a href="{{ url_for('index') }}">Back to List</a></p>
</body>
</html>
